/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import '@ionic/angular/css/palettes/dark.system.css';

@font-face {
  font-family: 'Maison Neue';
  src: url('assets/font/MaisonNeueExtendedDemi.otf');
}

@font-face {
  font-family: 'Maison Neue Bold';
  src: url('assets/font/MaisonNeueExtraBold.otf');
}

@font-face {
  font-family: 'Maison Neue Black';
  src: url('assets/font/MaisonNeueExtendedBlack.otf');
}

@font-face {
  font-family: 'Maison Neue Italic';
  src: url('assets/font/MaisonNeueExtendedDemiItalic.otf');
}

@font-face {
  font-family: 'Maison Neue Bold Italic';
  src: url('assets/font/MaisonNeueExtraBoldItalic.otf');
}

@font-face {
  font-family: 'Maison Neue Black Italic';
  src: url('assets/font/MaisonNeueExtendedBlackItalic.otf');
}

@font-face {
  font-family: 'Maison Neue Book';
  src: url('assets/font/MaisonNeueExtendedBook.otf');
}

@font-face {
  font-family: 'Maison Neue Book Italic';
  src: url('assets/font/MaisonNeueExtendedBookItalic.otf');
}


* { font-family: 'Maison Neue', sans-serif; }
.m-bold { font-family: 'Maison Neue Bold', sans-serif; }
.m-black { font-family: 'Maison Neue Black', sans-serif; }
.m-book { font-family: 'Maison Neue Book', sans-serif; }
.m-italic { font-family: 'Maison Neue Italic', sans-serif; }
.m-bold-italic { font-family: 'Maison Neue Bold Italic', sans-serif; }
.m-black-italic { font-family: 'Maison Neue Black Italic', sans-serif; }
.m-book-italic { font-family: 'Maison Neue Book Italic', sans-serif; }
