<ion-content [fullscreen]="true">
<div class="bg-base-300 text-base-content">
  <div class="drawer">
    <input type="checkbox" id="navigation-bar" class="drawer-toggle" />
    <div class="drawer-content flex flex-col">
      <div class="navbar fixed z-20 top-0 left-0 bg-base-300/50 backdrop-blur-md w-full">
        <div class="mx-2 flex-1 gap-3 px-2">
          <img src="../../assets/image/logo.png" class="w-8" alt="Aitoma">
          <span class="lg:inline-block hidden">Keisuugo</span>
        </div>
        <div class="lg:hidden flex-none block">
          <ul class="menu menu-horizontal pr-4">
            <li><a (click)="toggleTheme()"><span [ngClass]="{'icon-[icon-park-solid--dark-mode]': currentTheme === 'light', 'icon-[akar-icons--sun-fill]': currentTheme === 'dark', 'text-xl': true}"></span></a></li>
            <li>
              <a>
                <div class="dropdown dropdown-end">
                  <div tabindex="0" role="button" class="icon-[akar-icons--language] text-xl"></div>
                  <ul tabindex="0" class="dropdown-content menu bg-base-100 rounded-box z-[1] w-52 p-2 shadow">
                    <li><a [ngClass]="{'bg-base-200': selectedLanguage == 1}" (click)="changeLanguage(1)">English</a></li>
                    <li><a [ngClass]="{'bg-base-200': selectedLanguage == 0}" (click)="changeLanguage(0)">Indonesia</a></li>
                    <li><a [ngClass]="{'bg-base-200': selectedLanguage == 2}" (click)="changeLanguage(2)">日本</a></li>
                  </ul>
                </div>
              </a>
            </li>
            <li>
              <a>
                <div class="dropdown dropdown-end">
                  <div *ngIf="user != null" tabindex="0" role="button" class="w-6 h-6 rounded-full bg-blue-600 overflow-hidden">
                    <img [src]="user.photoURL" class="w-full h-full object-cover object-center" alt="">
                  </div>
                  <ul tabindex="0" class="dropdown-content menu bg-base-100 rounded-box z-[1] w-52 p-2 shadow">
                    <li><a (click)="logout()" [ngClass]="{'bg-base-200': selectedLanguage == 1}">{{ menu_vocab[1][selectedLanguage] }}</a></li>
                  </ul>
                </div>
              </a>
            </li>
          </ul>
        </div>
        <div class="hidden flex-none lg:block">
          <ul class="menu menu-horizontal pr-4">
            <!-- <li><a href="/home#solutions-content">{{ menu_vocab[0][selectedLanguage] }}</a></li> -->
            <li><a (click)="toggleTheme()"><span [ngClass]="{'icon-[icon-park-solid--dark-mode]': currentTheme === 'light', 'icon-[akar-icons--sun-fill]': currentTheme === 'dark', 'text-xl': true}"></span></a></li>
            <li>
              <a>
                <div class="dropdown dropdown-end">
                  <div tabindex="0" role="button" class="icon-[akar-icons--language] text-xl"></div>
                  <ul tabindex="0" class="dropdown-content menu bg-base-100 rounded-box z-[1] w-52 p-2 shadow">
                    <li><a [ngClass]="{'bg-base-200': selectedLanguage == 1}" (click)="changeLanguage(1)">English</a></li>
                    <li><a [ngClass]="{'bg-base-200': selectedLanguage == 0}" (click)="changeLanguage(0)">Indonesia</a></li>
                    <li><a [ngClass]="{'bg-base-200': selectedLanguage == 2}" (click)="changeLanguage(2)">日本</a></li>
                  </ul>
                </div>
              </a>
            </li>
            <li>
              <a>
                <div class="dropdown dropdown-end">
                  <div *ngIf="user != null" tabindex="0" role="button" class="w-6 h-6 rounded-full bg-blue-600 overflow-hidden">
                    <img [src]="user.photoURL" class="w-full h-full object-cover object-center" alt="">
                  </div>
                  <ul tabindex="0" class="dropdown-content menu bg-base-100 rounded-box z-[1] w-52 p-2 shadow">
                    <li><a (click)="logout()" [ngClass]="{'bg-base-200': selectedLanguage == 1}">{{ menu_vocab[1][selectedLanguage] }}</a></li>
                  </ul>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="md:px-12 min-h-screen px-8 py-8 bg-base-300 pt-24">
        <div *ngIf="data.length == 0" class="grid lg:grid-cols-4 md:grid-cols-2 grid-cols-1 gap-6">
          <div (click)="navigatePush('/create')" class="p-6 w-full bg-blue-600 h-48 flex items-center justify-center hover:shadow-2xl hover:bg-blue-800 cursor-pointer transition-all rounded-2xl">
            <div class="text-white text-center">
              <span class="icon-[akar-icons--circle-plus-fill] text-3xl mb-4"></span>
              <h1>{{ vocabs[0][selectedLanguage] }}</h1>
            </div>
          </div>
        </div>
        <div *ngIf="data.length > 0" class="grid lg:grid-cols-4 md:grid-cols-2 grid-cols-1 gap-6">
          <div (click)="navigatePush('/create')" class="p-6 w-full bg-blue-600 h-48 flex items-center justify-center hover:shadow-2xl hover:bg-blue-800 cursor-pointer transition-all rounded-2xl">
            <div class="text-white text-center">
              <span class="icon-[akar-icons--circle-plus-fill] text-3xl mb-4"></span>
              <h1>{{ vocabs[0][selectedLanguage] }}</h1>
            </div>
          </div>
          <div *ngFor="let item of data; let i = index" class="p-6 w-full bg-base-200 h-48 rounded-2xl transition-all relative hover:shadow-2xl hover:bg-base-100 cursor-pointer">
            <div class="w-full h-24 mb-6 text-ellipsis truncate">
              {{ item.text }}
            </div>
            <div class="flex items-center justify-between">
              <div class="badge bg-blue-600 text-white">{{ item.lang == "id-ID" ? "Indonesian" : item.lang == "en-US" ? "English" : "Japanese" }}</div>
              <div>
                <button (click)="navigatePush('/text/'+ item.id)" class="btn bg-blue-600 text-white btn-sm"><span class="icon-[ion--play]"></span></button>
              </div>
            </div>
            <div class="z-10 absolute top-0 right-0 w-full flex justify-end">
              <div class="dropdown dropdown-end">
                <div tabindex="0" role="button" class="btn btn-sm m-1"><span class="icon-[ion--ellipsis-vertical]"></span></div>
                <ul tabindex="0" class="dropdown-content menu bg-base-100 rounded-box z-[1] w-52 p-2 shadow">
                  <li><a (click)="navigatePush('/edit/' + item.id)">{{ vocabs[1][selectedLanguage] }}</a></li>
                  <li><a (click)="deleteData(item.id)">{{ vocabs[2][selectedLanguage] }}</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="md:p-12 p-8">
        <div class="w-full border-t border-base-content/30 grid md:grid-cols-2 grid-cols-1 items-center justify-between">
          <div class="flex gap-4 items-center p-8">
            <img src="../../assets/image/logo.png" class="w-12" alt="Aitoma">
            <h1 class="m-black text-3xl">Keisuugo</h1>
          </div>
          <div class="flex text-right gap-4 items-center justify-end p-8">
            <h1>{{ footer[selectedLanguage] }}</h1>
            <img src="../../assets/image/dev.png" class="w-12 inline-block" alt="Aitoma">
          </div>
        </div>
      </div>

    </div>
  </div>

</div>
</ion-content>
