html {
  scroll-behavior: smooth;
}

.solution-card {
  .solution-card-box {
    .solution-card-image {
      transition: all .3s ease;
      opacity: 1;
    }
    .solution-card-image-hidden {
      transition: all .3s ease;
      visibility: hidden;
      opacity: 0;
    }
    &:hover {
      .solution-card-image {
        width: 100%;
        left: 0;
        visibility: hidden;
        opacity: 0;
        position: absolute;
      }
      .solution-card-image-hidden {
        visibility: visible;
        opacity: 1;
      }
    }
  }
}
